<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (ViewData["Title"]?.ToString() == "Admin Dashboard")
        {
            @ViewData["Title"]
        }
        else
        {
            @($"{ViewData["Title"]} Gabay For Good")
        }
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GabayForGood.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="main-header px-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 d-flex align-items-center">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand-custom">Gabay For Good</a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="nav-links">
                        <a href="#about" class="nav-link-custom">ABOUT</a>

                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="User" asp-action="SignOut" method="post" class="d-inline">
                                <button type="submit" class="btn btn-link nav-link-custom">Sign Out</button>
                            </form>
                        }
                        else
                        {
                            <a asp-controller="User" asp-action="SignIn" class="nav-link-custom">Sign In</a>
                            <a asp-controller="User" asp-action="SignUp" class="nav-link-custom">Sign Up</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
