@using GabayForGood.WebApp.Models
@model AdminVM
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Login -";
}

<div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-4">Admin Login</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <form asp-controller="Admin" asp-action="LogIn" method="post">
        <input asp-for="ReturnURL" type="hidden" />
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" type="email" class="form-control" required>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        @Html.AntiForgeryToken()
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}